In [1]:
from sklearn import tree
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv("dataset.csv")

In [3]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
dataset['Gender'] = pd.factorize(dataset.Gender)[0]

In [5]:
dataset.tail()

      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863       1   46            41000          1
396  15706071       0   51            23000          1
397  15654296       1   50            20000          1
398  15755018       0   36            33000          0
399  15594041       1   49            36000          1

In [6]:
dataset = dataset.to_numpy()

In [7]:
print(dataset)

[[15624510        0       19    19000        0]
 [15810944        0       35    20000        0]
 [15668575        1       26    43000        0]
 ...
 [15654296        1       50    20000        1]
 [15755018        0       36    33000        0]
 [15594041        1       49    36000        1]]

In [8]:
dataTraining = np.concatenate((dataset[0:160, :], dataset[200:360, :]), axis=0)
dataTesting = np.concatenate((dataset[160:200, :], dataset[360:400, :]), axis=0)

In [9]:
print(dataTraining)
len(dataTraining)

[[15624510        0       19    19000        0]
 [15810944        0       35    20000        0]
 [15668575        1       26    43000        0]
 ...
 [15671387        1       41    72000        0]
 [15573926        0       40    71000        1]
 [15709183        0       42    54000        0]]

320

In [10]:
print(dataTesting)
len(dataTesting)

[[15744279        0       32   100000        1]
 [15670619        0       25    90000        0]
 [15599533        1       37    33000        0]
 [15757837        0       35    38000        0]
 [15697574        1       33    69000        0]
 [15578738        1       18    86000        0]
 [15762228        1       22    55000        0]
 [15614827        1       35    71000        0]
 [15789815        0       29   148000        1]
 [15579781        1       29    47000        0]
 [15587013        0       21    88000        0]
 [15570932        0       34   115000        0]
 [15794661        1       26   118000        0]
 [15581654        1       34    43000        0]
 [15644296        1       34    72000        0]
 [15614420        1       23    28000        0]
 [15609653        1       35    47000        0]
 [15594577        0       25    22000        0]
 [15584114        0       24    23000        0]
 [15673367        1       31    34000        0]
 [15685576        0       26    16000        0]
 [15774727        1       31    71000        0]
 [15694288        1       32   117000        1]
 [15603319        0       33    43000        0]
 [15759066        1       33    60000        0]
 [15814816        0       31    66000        0]
 [15724402        1       20    82000        0]
 [15571059        1       33    41000        0]
 [15674206        0       35    72000        0]
 [15715160        0       28    32000        0]
 [15730448        0       24    84000        0]
 [15662067        1       19    26000        0]
 [15779581        0       29    43000        0]
 [15662901        0       19    70000        0]
 [15689751        0       28    89000        0]
 [15667742        0       34    43000        0]
 [15738448        1       30    79000        0]
 [15680243        1       20    36000        0]
 [15745083        0       26    80000        0]
 [15708228        0       35    22000        0]
 [15577514        0       43   129000        1]
 [15778830        1       53    34000        1]
 [15768072        1       47    50000        1]
 [15768293        1       42    79000        0]
 [15654456        0       42   104000        1]
 [15807525        1       59    29000        1]
 [15574372        1       58    47000        1]
 [15671249        0       46    88000        1]
 [15779744        0       38    71000        0]
 [15624755        1       54    26000        1]
 [15611430        1       60    46000        1]
 [15774744        0       60    83000        1]
 [15629885        1       39    73000        0]
 [15708791        0       59   130000        1]
 [15793890        1       37    80000        0]
 [15646091        1       46    32000        1]
 [15596984        1       46    74000        0]
 [15800215        1       42    53000        0]
 [15577806        0       41    87000        1]
 [15749381        1       58    23000        1]
 [15683758        0       42    64000        0]
 [15670615        0       48    33000        1]
 [15715622        1       44   139000        1]
 [15707634        0       49    28000        1]
 [15806901        1       57    33000        1]
 [15775335        0       56    60000        1]
 [15724150        1       49    39000        1]
 [15627220        0       39    71000        0]
 [15672330        0       47    34000        1]
 [15668521        1       48    35000        1]
 [15807837        0       48    33000        1]
 [15592570        0       47    23000        1]
 [15748589        1       45    45000        1]
 [15635893        0       60    42000        1]
 [15757632        1       39    59000        0]
 [15691863        1       46    41000        1]
 [15706071        0       51    23000        1]
 [15654296        1       50    20000        1]
 [15755018        0       36    33000        0]
 [15594041        1       49    36000        1]]

80

In [11]:
inputTraining = dataTraining[:,0:4]
inputTesting = dataTesting[:,0:4]
labelTraining = dataTraining[:,4]
labelTesting = dataTesting[:,4]
print(labelTraining)
len(labelTraining)

[0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 1 0 1 0 1 1 0 0 0 1 0 0 0 1 0 1 1 1 0
 0 1 1 0 1 1 0 1 1 0 1 0 0 0 1 1 0 1 1 0 1 0 1 0 1 0 0 1 1 0 1 0 0 1 1 0 1
 1 0 1 1 0 0 1 0 0 1 1 1 1 1 0 1 1 1 1 0 1 1 0 1 0 1 0 1 1 1 1 0 0 0 1 1 0
 1 1 1 1 1 0 0 0 1 1 0 0 1 0 1 0 1 1 0 1 0 1 1 0 1 1 0 0 0 1 1 0 1 0 0 1 0
 1 0 0 1 1 0 0 1 1 0 1 1 0 0 1 0 1 0 1 1 1 0 1 0]

320

In [12]:
model = tree.DecisionTreeClassifier()

In [13]:
model =  model.fit(inputTraining, labelTraining)

In [14]:
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

Label Sebenarnya :  [1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 1 1 0 1 1 1 1 0 1 1 1 0 1 0 1 0 0 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1
 0 1 1 1 0 1]
Hasil Prediksi :  [1 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 1 1 0 1 1 0 0 0 1 0 1 0 1 0 1 1 0 0 1 0 1 1 1 1 1 1 0 1 1 1 1 0 0
 0 1 1 1 0 1]

In [15]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar : ", prediksiBenar, " Data")
print("Prediksi Salah : ", prediksiSalah, " Data")
print("Akurasi : ", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")

Prediksi Benar :  71  Data
Prediksi Salah :  9  Data
Akurasi :  88.75 %